#app4 {
  border: 1px solid blue;
}
@keyframes change {
  0% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}
#app4 .circle {
  width: 30vw;
  height: 30vh;
  border-radius: 50%;
  border: 1px solid blue;
}
#app4 .active {
  animation: change 1s infinite alternate linear;
}
